<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
        <h5 class="my-0 mr-md-auto font-weight-normal"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">irSite</font></font></h5>
        <nav class="my-2 my-md-0 mr-md-3">
          <a class="p-2 text-dark" href="/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Плавная </font></font></a>
          <a class="p-2 text-dark" href="/about"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Про нас </font></font></a>
         
        </nav>
        <a class="btn btn-outline-primary" href="/create-article"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Зарегистрироваться</font></font></a>
      </div>
      
    {% block body %}{% endblock %}

    <footer class="container pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-12 col-md">
            <img class="mb-2" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
            <small class="d-block mb-3 text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">© 2017-2018</font></font></small>
          </div>
          <div class="col-6 col-md">
            <h5><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Функции</font></font></h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Классная вещь</font></font></a></li>
              <li><a class="text-muted" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Случайная функция</font></font></a></li>
              <li><a class="text-muted" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Функция команды</font></font></a></li>
              <li><a class="text-muted" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Вещи для разработчиков</font></font></a></li>
              <li><a class="text-muted" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Другой</font></font></a></li>
              <li><a class="text-muted" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Последний раз</font></font></a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ресурсы</font></font></h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ресурс</font></font></a></li>
              <li><a class="text-muted" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Имя ресурса</font></font></a></li>
              <li><a class="text-muted" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Другой ресурс</font></font></a></li>
              <li><a class="text-muted" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Последний ресурс</font></font></a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">О</font></font></h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Команда</font></font></a></li>
              <li><a class="text-muted" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Локации</font></font></a></li>
              <li><a class="text-muted" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Конфиденциальность</font></font></a></li>
              <li><a class="text-muted" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Условия</font></font></a></li>
            </ul>
          </div>
        </div>
      </footer>
</body>
</html>