{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<div class="container">
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Цены</font></font></h1>
    <p class="lead"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Быстро создайте эффективную таблицу цен для своих потенциальных клиентов с помощью этого примера Bootstrap. Он построен с использованием компонентов и утилит Bootstrap по умолчанию с небольшой настройкой.</font></font></p>
  </div>
  <div class="container">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Бесплатно</font></font></h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">0 долларов США </font></font><small class="text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">в месяц</font></font></small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">10 пользователей включены</font></font></li>
            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">2 ГБ памяти</font></font></li>
            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Поддержка по электронной почте</font></font></li>
            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Доступ к справочному центру</font></font></li>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-outline-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Бесплатно зарегестрироваться</font></font></button>
        </div>
      </div>
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Про</font></font></h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">15 долларов США </font></font><small class="text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">в месяц</font></font></small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">20 пользователей включены</font></font></li>
            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">10 ГБ памяти</font></font></li>
            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Приоритетная поддержка по электронной почте</font></font></li>
            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Доступ к справочному центру</font></font></li>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Начать</font></font></button>
        </div>
      </div>
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Предприятие</font></font></h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">29 долларов США </font></font><small class="text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">в месяц</font></font></small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">30 пользователей включены</font></font></li>
            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">15 ГБ памяти</font></font></li>
            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Поддержка по телефону и электронной почте</font></font></li>
            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Доступ к справочному центру</font></font></li>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Связаться с нами</font></font></button>
        </div>
      </div>
    </div>

    
  </div>
 </div> 
{% endblock %}